platform:
 - x86
 - x64

environment:
 matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    BUILD: vicc
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    BUILD: vpcd

install:
 - ps: >-
     If ($env:Platform -Match "x86") {
       $env:MSBUILD_PLATFORM="x86"
       $env:VCVARS_PLATFORM="x86"
       $env:ARTIFACT="${env:BUILD}_win32"
       $env:X64=""
     } Else {
       $env:MSBUILD_PLATFORM="x64"
       $env:VCVARS_PLATFORM="amd64"
       $env:ARTIFACT="${env:BUILD}_win64"
       $env:X64="x64\"
     }

 - ps: >-
     If ($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2019") {
       $env:VCVARSALL="${env:ProgramFiles(x86)}\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat"
     } ElseIf ($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2017") {
       $env:VCVARSALL="${env:ProgramFiles(x86)}\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat"
     } ElseIf ($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2015") {
       $env:VCVARSALL="${env:VS140COMNTOOLS}\..\..\VC\vcvarsall.bat"
     } ElseIf ($env:APPVEYOR_BUILD_WORKER_IMAGE -eq "Visual Studio 2013") {
       $env:VCVARSALL="${env:VS121COMNTOOLS}\..\..\VC\vcvarsall.bat"
     }

 - call ".ci\\%BUILD%_install"

build_script:
 - md %ARTIFACT%

 - call ".ci\\%BUILD%_build"

 - 7z a %ARTIFACT%.zip %ARTIFACT%
 - appveyor PushArtifact %ARTIFACT%.zip
